/* Category */
.Dropdown {
    color: #6d398a;
}

/* Category */
.Dropdown option {
    color: #966496;
}

/* Title & Content in PostEditForm */
.FormLabel {
    color: #6d398a;
    /* Change this to your desired text color for labels */
}

/* Title & Content in PostEditForm */
.TextArea {
    color: #966496;
}