/* Styling for the navigation bar */
.NavBar {
    background-color: #e8f7e5;
    border: 1px solid #dadadf;
    box-shadow: 3px 3px 10px #bc9bbb;
}

/* General styling for links in the navigation bar */
.NavLink {
    padding: 5px;
}

/* Changes icon color when the navigation link is active */
/* indicating the current page */
.Active i {
    color: #6d398a;
}

/* Logo image transition */
.logoImg {
    height: 45px;
    transition: transform 0.2s ease-in-out;
}

.logoImg:hover {
    transform: scale(1.1);
}