.Post {
    background-color: #ffffff;
    border: 1px solid #f0d2ee;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
    box-shadow: 0 3px 5px #bc9bbb;
}

.Post figure,
h5 {
    margin: 0 0;
}

.Heart {
    color: #f90647;
}

.Heart:hover {
    color: #2142b2;
}

.HeartOutline:hover {
    color: #f90647;
}

/* Styles for hashtag container */
.Hashtags {
    padding: 10px;
    border-radius: 5px;
}

/* Styles for individual hashtags */
.Hashtag {
    display: inline-block;
    margin-right: 5px;
    /* Add some space between hashtags */
    padding: 5px;
    /* Add some padding */
    background-color: white;
    border-radius: 3px;

}