/* Base container styling for the App component */
.App {
    font-family: "DM Sans", sans-serif;
    background-color: #e7d5e6;
    min-height: 100vh;
    color:#6d398a;
}

/* Push down underneath navbar */
.Main {
    padding-top: 85px;
}

/* Styling for content containers */
.Content {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #f0d2ee;
    box-shadow: 3px 3px 5px #bc9bbb;
}

/* Ensures image fills the container without distortion */
.FillerImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* Styling for images with maximum height and width */
.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}

/* Universal box-sizing model for all elements */
* {
    box-sizing: border-box;
}

/* Default link styling */
a {
    color: #555555;
    transition: color ease-in-out 0.3s;
}

/* Link hover effects */
a:hover {
    text-decoration: none;
    color: #0c7b04;
}

/* Icon color changes on link hover */
a:hover i {
    color: #0c7b04;
    transition: color ease-in-out 0.3s;
}

/* Base styling for icons within links */
i {
    color: #555555;
    font-size: 1.0rem;
    padding: 7px;
    vertical-align: middle;
}

/* icon hover effects */
i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #2142b2;
}

/* Figure styling for image captions */
figure {
    text-align: center;
    display: inline-block;
    border-bottom: 20px;
}

/* Custom scrollbar styling */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}